.card{
  width:576px;
  height:344px;
  background-color: #171a1c;
  border-radius: 16px;
  color: #47474e;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 32px;
}

.paymentDetails{
  padding: 5px;
}

article > div:nth-child(1){
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

article > div:nth-child(3){
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

input[name="cardNumber"]{
  color: white;
  font-size: 32px;
  background-color: #171a1c;
  border: none;
  outline: none;
}

input[name="ccvNumber"]{
  color: white;
  background-color: #171a1c;
  border: none;
  outline: none;
  width: 32px;
}

input[name="month"]{
  color: white;
  background-color: #171a1c;
  border: none;
  outline: none;
}

input[name="year"]{
  width: 60px;
  color: white;
  background-color: #171a1c;
  border: none;
  outline: none;
}

::placeholder{
  color: grey;
}

.expirationCcv{
  display: flex;
  justify-content: space-between;
}
.expiration{
  display: flex;
  justify-content: space-between;
  width:208px;
  
}
.monthButton{
  position: relative;
}

.list{
  position: absolute;
  background-color: grey;
    height: 80px;
    background-color: grey;
    overflow-y: scroll;
    width: 100px;
}

.list > div {
  padding: 5px;
  border-bottom: 1px solid #fff;
}
