*{
  border:solid 1px black;
}

html, body{
  margin: 0px; 
  padding: 0px;
}

.resume{
  height: 100%;
  display:flex;
  overflow:scroll;
  max-width:900px;
  min-width:760px;
  margin:auto;
}

.left{
  width:30%;
  background: red;
}

.photo{
  border-radius: 100%;
  width: 160px;
  height: 160px;
  object-fit:cover;
  object-position: 60% 0;
  display:block;
  margin: 10px auto 0;
}

.contact{
  height:200px;
  margin-top:20px;
  
}
.row{
  display:flex;
  font-size: 11px
}
.row div{
  height:20px;
}

.row div:first-child{
  width:30%;
  background:blue;
}

.row div:last-child{
  width:70%;
}

.skill{
  height: 200px;
}
.language{
  height:200px;
}

.right{
  height:100%;
  width:70%;
  background: yellow;
}